#sendie { 
	border: 3px solid #999; 
	width: 100%; 
	padding: 10px; 
	font: 12px "Lucida Grande", Sans-Serif; 
	/* Added by Akshay - The send container must be positioned at the bottom of the chat module */
	position: relative;
	height: 50px;
}


#chat-area span { 
	color: white; 
	background: #333; 
	padding: 4px 8px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 8px; 
	margin: 0 5px 0 0; 
}


#chat-area p { 
	padding: 8px 0; 
	border-bottom: 1px solid #ccc; 
	width: 100%;  
}

.date P{ float: right; color: black; font-size: 10px; }



.chat-dp img {
    float: left;
    width: 2.5em;
    height: 2.5em;
    overflow: hidden;


    border: 1px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

/*I tryied to make it float right for your messages */
.chat-dp-usr img {
    float: right; 
    margin: 0 0 10px 10px;
    width: 2.5em;
    height: 2.5em;
}

#chat li {
	display: flex;
	float: left;
	width: 100%;
}

.user_name {
    text-transform:capitalize;
    font-weight: bold;
}

.chat_msg p { word-break: break-all }

/* AKSHAY 16/7/20115 */
#chat {
	list-style-type: none;
	list-style-position:inside;
	margin:0;
	height: 500px;
	padding:5px; 
	background-color: #E6E6E6;
}

.chat_welcome {
	padding: 5px;
	width: 100%;
	background-color: #42444C;
	color: #FFFFFF;
    font-weight: bold;
}

.chat_msg {
	list-style-type: none;
	list-style-position:inside;
	margin:0;
	padding:0; 
}

.chat_msg p { word-break: break-all }

.msg_name {
	float: left;
	margin-right: 5px;
}

.msg_text {word-wrap: normal;
 display: inline-block;
	margin-right: 40px;
}


.chat_send_msg {
	position: relative;
	margin-bottom:0px;
	background-color:#FFFFFF;
}


#Shader_G{
	background: #E6E6E6;
}

#Shader_W{
	background: #FFFFFF;
}

