.forum-input{
    margin-left: 60px;
    padding: 2px;
}

.forum-input textarea{
    width: 100%;
    padding: 0px;
    word-wrap: break-word;
}

.input-buttons{
    float: right;
}

.input-buttons button{
    display: inline;
}

.forum-post{
    overflow: auto;
    clear: right;
}

.post-dp{
    float: left;
    width: auto;
    margin: 5px;
}

.post-dp img{
    width: 50px;
    height: 50px;
}

.post-contents, .post-options{
    margin-left: 60px;
}

.post-contents a, .post-contents p{
    display: inline;
}

.post-contents a{
    margin-right: 5px;
}

.post-username{
    font: bold;
    color: blue;
}

.post-date{
    color: grey;
    font-size: 0.8em;
}

.post-reply{
    margin-left: 60px;
}

.forum-hidden{
    display: none;
}

.post-reply-btn {
    font-size: 0.8em;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    color: #808080;
}

.post-reply-btn:hover {
    background: none;
    color: #404040;
    cursor: pointer;
    cursor: hand;
}

/*CSS for Forum Title*/

#forum_title {
	background-color: #42444C;
	color: #FFFFFF;
	padding: 10px;
	font-weight: normal;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#forum_title_section {
	color: #42444C;
}