.forum-input{
    margin-left: 60px;
    padding: 2px;
}

.forum-input textarea{
    width: 100%;
    padding: 0px;
    word-wrap: break-word;
}

.input-buttons{
    float: right;
}

.input-buttons button{
    width: auto;
    display: inline;
}

.forum-post{
    overflow: auto;
    clear: right;
}

.post-dp{
    float: left;
    width: auto;
    margin: 5px;
}

.post-dp img{
    width: 50px;
    height: 50px;
    
}

.post-contents{
    margin-left: 60px;
}

.post-contents-header a, p{
    display: inline;
} 

.post-username{
    font: bold;
    color: blue;
}

.post-date{
    color: grey;
    font-size: 0.8em;
}

.post-reply{
    margin-left: 60px;
}

.forum-hidden{
    display: none;
}