#date{
    float: left;
    color: black;
    font-size: 10px;
}

.forum-post{
    overflow: auto;
    clear: right;
}

.post-dp{
    float: left;
    width: auto;
}

.post-dp img{
    width: 50px;
    height: 50px;
}

.post-contents{
    margin-left: 50px;
}

.post-username{
    font: bold;
    color: blue;
}

.btn-reply{
    width: inherit;
    float: right;
}